// Place your apps css here
.left{
  float:left;
  width: 50%;
  height: 500px;
  margin-top: 5px;
}
.right{
  float:right;
  border: 1px solid black;
  width: 50%;
  height: 500px;
  margin-top: 5px;
}

.name{
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

.technology{
  font-size: 10px;
  text-align: center;
}

.right_header{
  font-size: 10px;
  text-align:right;
}

.white{
  background-color: white;
}

.lt_blue{
  background-color: #D5FFFF;
  height: 100%;
}

.lt_yellow{
  background-color: #F0E68C;
  height: 100%;
}

.lt_green{
  background-color: #90EE90;
  height: 100%
}